HOST=0.0.0.0
PORT=3000

DATABASE_URL=file:./dev.db
UPLOADS_BASE_PATH=./uploads

APP_NAME=Control Accesos
APP_LOGO=/copo_fruveco_azul.svg
APP_FAVICON=/copo_fruveco_azul.svg

ENCRYPTION_KEY=
SESSION_SECRET=
SESSION_COOKIE_SECURE=false

ADMIN_FULL_NAME=Administrador
ADMIN_USERNAME=admin
ADMIN_PASSWORD=demo123
SITE_NAME=Sitio principal
SITE_SLUG=PRINCIPAL
DEPARTMENT_NAME=General
DEPARTMENT_SLUG=GENERAL
