APP_NAME=Wachiman App
APP_LOGO=/logo_app.svg
APP_FAVICON=/logo_app.svg
ENCRIPTION_KEY=
SESSION_SECRET=
SESSION_COOKIE_SECURE=true
UPLOADS_BASE_PATH=/var/uploads

DATABASE_URL="file:./prisma/dev.db"

ADMIN_FULL_NAME='Administrador'
ADMIN_USERNAME='admin'
ADMIN_PASSWORD=
SITE_NAME='Fabrica 1'
SITE_SLUG='FAB1'
DEPARTMENT_NAME='Departamento 1'
DEPARTMENT_SLUG='DEPT1'
