APP_NAME=Wachiman App
APP_LOGO=/logo_app.svg
APP_FAVICON=/logo_app.svg
ENCRIPTION_KEY=
SESSION_SECRET=
SESSION_COOKIE_SECURE=true
UPLOADS_BASE_PATH=/var/uploads

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=wachiman
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:55432/wachiman

ADMIN_FULL_NAME='Administrador'
ADMIN_USERNAME='admin'
ADMIN_PASSWORD=
SITE_NAME='Fabrica 1'
SITE_SLUG='FAB1'
DEPARTMENT_NAME='Departamento 1'
DEPARTMENT_SLUG='DEPT1'
