DATABASE_URL="postgres://postgres:postgres@127.0.0.1:55432/wachiman"
ENCRIPTION_KEY=
SESSION_SECRET=
SESSION_COOKIE_SECURE=true

ADMIN_FULL_NAME=
ADMIN_USERNAME=
SITE_NAME=
SITE_SLUG=
DEPARTMENT_NAME=
DEPARTMENT_SLUG=

# El unico obligatorio
ADMIN_PASSWORD=
