.DS_Store
.env
.env*
/node_modules/

# React Router
/.react-router/
/build/

/generated/prisma
*/generated/prisma

# Database
*.db

# Cloudflare
.wrangler/
.dev.vars

.hermes/

.vscode/

# Cloudflare
.wrangler/
.dev.vars